[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = gsobell@users.noreply.github.com
	name = gabriel
	signingkey = F8747D2397CCEB1A1ED97830D105175AF941506F
[alias]
	s=status
	d=diff
	a=add -A
	c='commit -S -m'
	ac=!git add -A && git commit -m "$(date +%X)"
	p = !git push origin $HOSTNAME
	acp=!git add -A && git commit -S -m "$(date +%X)" && git push origin $HOSTNAME
